/* COMMON ROULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

p{
    color: yellow;
    text-align: center;
    font-size: 3.5rem;
}

/* MAIN */

.container{
    height: 100vh;
}

.container_small{
    height: 400px;
    width: 500px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* primo contenitore */
#red{
    background-color: red;
}

/* secondo contenitore */
#green{
    background-color: green;
}

/* terzo contenitore */
#yellow{
    background-color: yellow;
}

#text_container{
    color: green;
}